/* 
    Document   : messages.css
    Created on : Jun 14, 2012, 7:12:31 PM
    Author     : thomas
    Description:
        Purpose of the stylesheet follows.
*/

div#ui-messages-topNav {
    -webkit-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    border:1px solid #D2D2D2;
    padding:10px 15px;
    background: #f8f8f8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e9e9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f8f8f8 0%,#e9e9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f8f8f8 0%,#e9e9e9 100%); /* IE10+ */
    background: linear-gradient(top, #f8f8f8 0%,#e9e9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow: inset 0px 1px 1px 1px #FFFFFF;
    box-shadow: inset 0px 1px 1px 1px #FFFFFF;
}
div#ui-messages-topNav h2 {
    color:#999999;
    text-shadow: 1px 1px 1px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=1, offy=1)
}

div#ui-messages-container {
    -webkit-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    border:1px solid #D2D2D2;
    border-top:0;
    padding:0;
    background-color:#FFFFFF;
}

div#ui-messages-container a {
    color:#83A300;
    text-decoration:none;
}
div#ui-messages-container a:hover {
    text-decoration:underline;
}

div#ui-messages-container div#ui-sidebarContainer {
    margin:0 10px 10px 10px;
}
ul#ui-messages-mainNav {
    background-color:#F8F8F8;
    width:180px;
    list-style:none;
    font-size:1em;
    font-weight:bold;
    color:#999999;
    border-right:1px solid #D2D2D2;
}
ul#ui-messages-mainNav li {
    padding:10px 20px;
    border:1px solid #F8F8F8;
}
ul#ui-messages-mainNav li:hover {
    background-color:#FFFFFF;
    border-top:1px solid #D2D2D2;
    border-bottom:1px solid #D2D2D2;
}
ul#ui-messages-mainNav li#active {
    color:#FFFFFF;
    background: #9abc00; /* Old browsers */
    border:1px solid #83A300;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlhYmMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4M2EzMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #9abc00 0%, #83a300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9abc00), color-stop(100%,#83a300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9abc00 0%,#83a300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9abc00 0%,#83a300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #9abc00 0%,#83a300 100%); /* IE10+ */
    background: linear-gradient(top, #9abc00 0%,#83a300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9abc00', endColorstr='#83a300',GradientType=0 ); /* IE6-8 */
}